<div class="row">
    <h1>Trayectoria Laboral</h1>
    <div class="col-lg-1+10+1"></div>
    <div class="col-lg-1+10">
            <ul>
            <li>
                <h2>Trabajo 1</h2> -
                <h3>(years)</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque temporibus aspernatur voluptatem ipsam nisi corrupti maxime repellendus dolor, veritatis non, rerum velit aliquid corporis nostrum incidunt reiciendis, quae quaerat facilis.</p>
            </li> </ul>
                <ul> <li> <h2>Trabajo 2</h2> -
                <h3>(years)</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque temporibus aspernatur voluptatem ipsam nisi corrupti maxime repellendus dolor, veritatis non, rerum velit aliquid corporis nostrum incidunt reiciendis, quae quaerat facilis.</p>      
            </li> </ul>
    </div>
</div>
