    
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/trenza.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="container">
         <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h1 id="nombre">Elisa Ciarniello</h1>
             <h2 id="cert">Full Stack Developer Jr</h2>
         </div>
         <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="acerca">
         <span> 
           <h1 id="acerca">Acerca de mi</h1>
            <p>Soy una persona multifacética y emprendedora, siempre con ganas de aprender y de asumir nuevos desafíos. Me formé en trabajo social y en yoga y hace muy poquito empecé este camino de la programación.</p>
         </span>
        </div>
    </div>
</div>