<div class="row">
   <h1>Habilidades y Destrezas</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="10"
    [radius]="100"
    [backgroundColor]="'black'"
    [imageSrc]="'../assets/logoHTML.png' "
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [title]=" 'HTML'"
    [titleColor]="'grey'"
    [subtitle]="'false'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'grey'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="400"
  ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="10"
        [radius]="100"
        [backgroundColor]="'black'"
        [imageSrc]="'../assets/logoJS.jpg' "
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [title]=" 'JS'"
        [titleColor]="'grey'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'grey'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="10"
            [radius]="100"
            [backgroundColor]="'black'"
            [imageSrc]="'../assets/logoANGULAR.png' "
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [title]=" 'ANGULAR'"
            [titleColor]="'grey'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'grey'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="400"
          ></circle-progress>
            </div>
            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="10"
                [radius]="100"
                [backgroundColor]="'black'"
                [imageSrc]="'../assets/LOGOcss.png' "
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [showUnits]="false"
                [title]=" 'CSS'"
                [titleColor]="'grey'"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'grey'"
                [innerStrokeColor]="'grey'"
                [animation]="true"
                [animationDuration]="400"
              ></circle-progress>
                </div>
                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                    [percent]="30"
                    [radius]="100"
                    [backgroundColor]="'black'"
                    [showUnits]="false"
                    [title]=" 'Inglés'"
                    [titleColor]="'grey'"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'grey'"
                    [innerStrokeColor]="'grey'"
                    [animation]="true"
                    [animationDuration]="400"
                  ></circle-progress>
                    </div>
                    <div class="text-center col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                        [percent]="90"
                        [radius]="100"
                        [showUnits]="false"
                        [backgroundColor]="'black'"
                        [title]=" 'Trabajo en Equipo'"
                        [titleColor]="'grey'"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'grey'"
                        [innerStrokeColor]="'grey'"
                        [animation]="true"
                        [animationDuration]="400"
                      ></circle-progress>
                        </div>
                        <div class="text-center col-sm-4 col-md-4 col-lg-4">
                            <circle-progress
                            [percent]="90"
                            [radius]="100"
                            [backgroundColor]="'black'"
                            [showUnits]="false"
                            [title]=" 'Perseverancia'"
                            [titleColor]="'grey'"
                            [showSubtitle]="false"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="8"
                            [outerStrokeColor]="'grey'"
                            [innerStrokeColor]="'grey'"
                            [animation]="true"
                            [animationDuration]="400"
                          ></circle-progress>
                            </div>
</div>
